#Data Structure

1. What are data structures, and why are they important?
- Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. They provide a means to manage large amounts of data, such as databases or large datasets, and are essential for designing efficient algorithms.

- Following are the reasons why i think it is important

  - Efficiency: Proper data structures enable faster access and manipulation of data.
  - Organization: They help in organizing data logically, making it easier to understand and work with.
  - Reusability: Common data structures (like arrays, lists, and trees) can be reused across different applications.
  - Scalability: They allow programs to handle growing amounts of data efficiently.

2. Explain the difference between mutable and immutable data types with examples.
- Mutable: Data types that can be modified after creation.
Eg: Lists, dictionaries, sets.

- Immutable: Data types that cannot be modified after creation.
Eg: Integers, strings, tuples.

3. What are the main differences between lists and tuples in Python?
- List: its mutable, defined with square brackets "[]", comparatively slower, for dynamic data
- Tuples: Its imputable, define by round brackets or parentheses "()", more faster, for fixed datas

4. Describe how dictionaries store data.
- Dictionaries store data as key-value pairs. Each key is unique and maps to a specific value. Internally, dictionaries use a hash table to store and retrieve data efficiently.
  - Keys: Must be immutable (e.g., strings, numbers, tuples).

  - Values: Can be of any data type (e.g., lists, dictionaries, integers).

5. Why might you use a set instead of a list in Python?
- i might you use a set instead of a list because of the following reasons;
  - Uniqueness: Sets automatically remove duplicate values.

  - Membership Testing: Sets are optimized for checking if an element exists (O(1) time complexity).

  - Mathematical Operations: Sets support operations like union, intersection, and difference.

6. What is a string in Python, and how is it different from a list?
  - String: A sequence of characters, enclosed in quotes (" " or ' '). Strings are immutable.
  - List: A collection of items, enclosed in square brackets []. Lists are mutable.

7. How do tuples ensure data integrity in Python?
- Tuples are immutable, meaning their contents cannot be changed after creation. This ensures that the data remains consistent and unaltered, which is useful for:

  - Storing fixed data (e.g., configuration settings).

  - Using as keys in dictionaries (since keys must be immutable).

8. What is a hash table, and how does it relate to dictionaries in Python?
- Hash Table: A data structure that maps keys to values using a hash function. It allows for fast data retrieval (O(1) average time complexity).

- it is related to Dictionaries as Python dictionaries are implemented using hash tables. The keys are hashed to determine their storage location, enabling efficient lookups.

9. Can lists contain different data types in Python?
- Yes, lists in Python can contain elements of different data types.     

        list = [1, "hello", 3.14, True]
        print(my_list)

10. Explain why strings are immutable in Python.
- Strings are immutable in Python for the following reasons:

  - Security: Immutability prevents unintended modifications, which is important for sensitive data like passwords.

  - Performance: Immutable objects can be cached and reused, improving performance.

  - Consistency: Immutability ensures that strings remain constant, making them suitable for use as dictionary keys.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer the following advantages over lists:

  - Fast Lookups: Dictionaries use hash tables, allowing O(1) average time complexity for lookups, whereas lists require O(n) for searching.
  - Key-Value Pairs: Dictionaries store data as key-value pairs, making it easy to associate related data.
  - Flexibility: Keys can be of any immutable type (e.g., strings, numbers, tuples), providing more flexibility than list indices.
  - No Duplicate Keys: Dictionaries automatically enforce unique keys, preventing data redundancy.

12. Describe a scenario where using a tuple would be preferable over a list.
- Tuples are preferable when:

  - Immutability is Required: For example, storing coordinates or configuration settings that should not change.
  - Performance Matters: Tuples are faster than lists due to their immutability.
  - Use as Dictionary Keys: Tuples can be used as keys in dictionaries because they are immutable.

13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicate values. When you add an element that already exists in the set, it is ignored.

14. How does the “in” keyword work differently for lists and dictionaries?
- Lists: The in keyword checks for the existence of a value in the list. It has a time complexity of O(n) because it performs a linear search.

- Dictionaries: The in keyword checks for the existence of a key in the dictionary. It has a time complexity of O(1) on average because dictionaries use hash tables.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its contents cannot be changed. This ensures data integrity and makes tuples suitable for fixed data.

16. What is a nested dictionary, and give an example of its use case.
-  a nested dictionary is a dictionary that contains other dictionaries as values. It is useful for representing hierarchical or structured data.

17. Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary has an average time complexity of O(1) because dictionaries use hash tables. However, in the worst case (due to hash collisions), it can degrade to O(n).

18. In what situations are lists preferred over dictionaries?
- Lists are preferred when:

  - Order Matters: Lists maintain the order of elements.
  - Index-Based Access: You need to access elements by their position (index).
  - Storing Homogeneous Data: Lists are often used for storing collections of similar items.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries were unordered, meaning the order of insertion was not preserved. Starting from Python 3.7, dictionaries maintain insertion order, but this is an implementation detail and not a guaranteed feature.

-  Since dictionaries rely on hash tables, the order of keys is not predictable in older versions of Python. This means you should not rely on the order of keys when iterating over a dictionary.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- List: Data is accessed by index (position). Retrieval time is O(1) for accessing by index but O(n) for searching by value.
- Dictionary: Data is accessed by key. Retrieval time is O(1) on average for accessing by key.

In [1]:
# 1. Write a code to create a string with your name and print it

name = "Himangshu"
print(name)

Your Name

In [4]:
# 2. Write a code to find the length of the string "Hello World"

string = "Hello World"
length = len(string)
print(length)

11

In [5]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [7]:
#6. Write a code to create a list with numbers 1 to 5 and print it

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]

my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

In [13]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print(min_value)

5

In [14]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index("cat")
print(index)

1

In [15]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
is_kiwi = "kiwi" in fruits
print(is_kiwi)

False

In [16]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [18]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
{1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [19]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [20]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [21]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [22]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name": "John", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [23]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

In [25]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [26]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
has_city = "city" in my_dict
print(has_city)

True

In [27]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"name": "John", "age": 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'John', 'age': 25}

In [28]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[5, 27, 37, 71, 71]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_index_element = my_list[3]
print(third_index_element)

In [29]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# 30. Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print(my_set)

{'cherry', 'banana', 'apple'}